In [26]:
import pandas as pd

file_path = '../../real_data/trace/W2K8.TPCC.10-19-2007.12-51-PM.trace-filtered-target.txt'

In [27]:
#  read the file
trace = pd.read_csv(file_path, sep=' ')
trace.columns = ['ByteOffset', 'IOSize']
print(len(trace))
print(trace.head())

5899528
   ByteOffset  IOSize
0  3201773568    8192
1  3155169280    4096
2  3155156992    4096
3  3161305088    8192
4  3154132992    4096

In [28]:
# declare dataframe variable to store converted trace
converted_trace = pd.DataFrame(columns=['ByteOffset', 'IOSize'])
counter = 0
# READ each line of the trace
for index, row in trace.iterrows():
    converted_list = []
    # IOSize to sector number and save it to the new trace
    sector_number = row['IOSize'] // 512
    # add a sector in replace of io size
    converted_list.append(row['ByteOffset'])
    converted_list.append(sector_number)
    converted_trace.loc[counter] = converted_list
    counter += 1
    if counter % 100000 == 0:
        print(counter)
    
print(converted_trace.head())

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
   ByteOffset  IOSize
0  3201773568      16
1  3155169280       8
2  3155156992       8
3  3161305088      16
4  3154132992       8

In [29]:
# Save the converted trace
converted_trace.to_csv('../../real_data/trace/W2K8.TPCC.10-19-2007.12-51-PM.trace-filtered-target-converted.txt', sep=' ', index=False)

In [35]:
# if the converted_trace i/o size is greater than 8 then we need to split it into multiple i/o
# if the converted_trace i/o size is less than 8 then we need to merge it into one i/o
# if the converted_trace i/o size is equal to 8 then we don't need to do anything

# declare dataframe variable to store split trace
split_trace = pd.DataFrame(columns=['ByteOffset', 'IOSize'])
counter = 0
# READ each line of the trace

for index, row in converted_trace.iterrows():
    # if i/o size is greater than 8 then split it into multiple i/o
    if row['IOSize'] > 8:
        # calculate the number of i/o
        number_of_io = row['IOSize'] // 8
        # calculate the remaining i/o
        remaining_io = row['IOSize'] % 8
        # split the i/o into 8
        for i in range(number_of_io):
            split_trace.loc[counter] = [row['ByteOffset']+(i*8), 8]
            counter += 1
        # if there is any remaining i/o then add it to the split trace
        if remaining_io != 0:
            split_trace.loc[counter] = [row['ByteOffset']+(number_of_io*8), remaining_io]
    # if i/o size is less than 8 then merge it into one i/o
    elif row['IOSize'] < 8:
        # calculate the remaining i/o
        remaining_io = row['IOSize']
        # merge the i/o into 8
        split_trace.loc[counter] = [row['ByteOffset'], remaining_io]
        counter += 1
    # if i/o size is equal to 8 then don't need to do anything
    else:
        split_trace.loc[counter] = [row['ByteOffset'], 8]
        counter += 1
    if counter > 2000000:
        break
    if counter % 10000 == 0:
        print(counter)

# save the split trace
split_trace.to_csv('../../real_data/trace/W2K8.TPCC.10-19-2007.12-51-PM.trace-filtered-target-converted-split.txt', sep=' ', index=False)

10000
70000
120000
180000
200000
220000
260000
280000
320000
340000
350000
370000
380000
410000
420000
500000
510000
520000
530000
540000
560000
570000
580000
640000
670000
680000
690000
730000
750000
860000
930000
940000
950000
1010000
1020000
1080000
1110000
1120000
1160000
1170000
1180000
1340000
1350000
1370000
1480000
1500000
1510000
1520000
1540000
1590000
1610000
1640000
1650000
1670000
1680000
1700000
1760000
1780000
1800000
1830000
1860000
1890000
1900000
1910000
1920000
1940000
1950000
1970000
1990000

In [36]:
print(split_trace.head())

   ByteOffset  IOSize
0  3201773568       8
1  3201773576       8
2  3155169280       8
3  3155156992       8
4  3161305088       8

# YCSB RocksDB SSD traces

In [37]:
import pandas as pd

file_path = '../../real_data/trace/ssdtrace-00'

In [38]:
import pandas as pd

trace = pd.read_csv(file_path, delim_whitespace=True, header=None, usecols=[6, 7, 9])
trace.columns = ['Type', 'ByteOffset', 'IOSize']

In [ ]:
# if the converted_trace i/o size is greater than 8 then we need to split it into multiple i/o
# if the converted_trace i/o size is less than 8 then we need to merge it into one i/o
# if the converted_trace i/o size is equal to 8 then we don't need to do anything

# declare dataframe variable to store split trace
split_trace = pd.DataFrame(columns=['ByteOffset', 'IOSize'])
counter = 0
# READ each line of the trace

for index, row in trace.iterrows():
    # if i/o size is greater than 8 then split it into multiple i/o
    # check row['ByteOffset'] is integer or not
    if isinstance(row['ByteOffset'], int):
        if row['IOSize'] > 8:
            # calculate the number of i/o
            number_of_io = int(row['IOSize'] // 8)
            print(number_of_io)
            # calculate the remaining i/o
            remaining_io = row['IOSize'] % 8
            # split the i/o into 8
            for i in range(number_of_io):
                split_trace.loc[counter] = [int(row['ByteOffset'])+(i*8), 8]
                counter += 1
            # if there is any remaining i/o then add it to the split trace
            if remaining_io != 0:
                split_trace.loc[counter] = [int(row['ByteOffset'])+(number_of_io*8), remaining_io]
        # if i/o size is less than 8 then merge it into one i/o
        elif row['IOSize'] < 8:
            # calculate the remaining i/o
            remaining_io = row['IOSize']
            # merge the i/o into 8
            split_trace.loc[counter] = [int(row['ByteOffset']), remaining_io]
            counter += 1
        # if i/o size is equal to 8 then don't need to do anything
        else:
            split_trace.loc[counter] = [int(row['ByteOffset']), 8]
            counter += 1
        if counter > 2000000:
            break
        if counter % 10000 == 0:
            print(counter)

# save the split trace
split_trace.to_csv('../../real_data/trace/ssdtrace-00-split.txt', sep=' ', index=False)

       Type       LBA    Size
509505    W    274464     8.0
509506    W    274464     8.0
509507    W    274464     8.0
509508    W    274464     8.0
509880    W    274464     8.0
509952    W    274464     8.0
509953    W    274464     8.0
509954    W    274464     8.0
509957    W   7549440   240.0
509958    W   7549440   240.0
509959    W   7549440   240.0
509975    W    274464     8.0
509976    W   7549440   240.0
512792    W    274464     8.0
512794    W   7549440   240.0
586691    W  95830016  2048.0
586692    W  95830016  2048.0
586693    W  95830016  2048.0
586694    W  95830016  2048.0
586695    W  95832064  2048.0
586696    W  95832064  2048.0
586697    W  95832064  2048.0
586698    W  95832064  2048.0
586699    W  95834112  2048.0
586700    W  95834112  2048.0
586701    W  95834112  2048.0
586702    W  95834112  2048.0
586703    W  95836160  2048.0
586704    W  95836160  2048.0
586705    W  95836160  2048.0
586706    W  95836160  2048.0
586707    W  95838208  2048.0
586708    W  95838208  2048.0
586709    W  95838208  2048.0
586710    W  95838208  2048.0
586711    W  95840256  2048.0
586712    W  95840256  2048.0
586713    W  95840256  2048.0
586714    W  95840256  2048.0
586715    W  95842304  2048.0
586716    W  95842304  2048.0
586717    W  95842304  2048.0
586718    W  95842304  2048.0
586719    W  95844352  2048.0
586720    W  95844352  2048.0
586721    W  95844352  2048.0
586722    W  95844352  2048.0
586723    W  95846400  2048.0
586724    W  95846400  2048.0
586725    W  95846400  2048.0

In [8]:
trace.head(200)

    Type        LBA   Size
0      R     282624    8.0
1      R     282624    8.0
2      N     [java]    NaN
3     RS     282624    8.0
4     RS     282624    8.0
..   ...        ...    ...
195    R  805698992  256.0
196    N     [java]    NaN
197   RS  805698992  256.0
198   RS  805698992  256.0
199    R  209059248  256.0

[200 rows x 3 columns]

In [30]:
for i in range(3):
    print(i)

0
1
2